<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<div class="bg-cover pd-header about-cover">
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                <div class="brand">
                    <div class="title center-align">
                        404
                    </div>
                    <div class="description center-align">
                        <%= page.description %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 每天切换 banner 图.  Switch banner image every day.
    // $('.bg-cover').css('background-image', 'url(/medias/banner/' + new Date().getDay() + '.jpg)');
    // $('.bg-cover').css('background-image', 'url(https://cdn.jsdelivr.net/gh/wenhaoclub/blog-assets/images/banner/group01/' + new Date().getDay() + '.jpeg)');
    $('.bg-cover').css('background-image', 'url(http://oes.fuwenhao.club/images/banner/' + new Date().getDay() + '.jpeg)');
</script>